.form-container {
  margin: 2rem;
  text-align: center;
}

.form-container h2 {
  font-family: 'Karla', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

fieldset {
  margin: 2rem auto;
  display: grid;
  grid-template-rows: 1fr;
  max-width: 200px;
  gap: 20px;
  border: 0;
}

label {
  font-family: 'Karla', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
}

input, select {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
}



