.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 2% 12%;
  margin: 0;
}

.horizontal-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.horizontal-menu li {
  padding: 1rem;
  display: inline;
}

.navbar-item {
  color: #000000;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}

.navbar-item:hover {
  color: #2a8b03;
}

.navbar-item:active {
  color: #ff0000;
}

@media (max-width: 770px) {
  .horizontal-menu {
    display: none;
  }
}

@media (min-width: 771px) {
  .hamburger {
    display: none;
  }
}