.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 2% 4.5rem;
  margin: 0;
  width: auto;
}

ul {
  padding: 0;
  margin: 5px 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

li {
  padding: 1rem;
  display: inline;
}

.navbar-item {
  color: #000000;
  text-decoration: none;
  font-size: 1.25rem;
}

.navbar-item:hover {
  color: #2a8b03;
}

.navbar-item:active {
  color: #ff0000;
}


